<a href="https://colab.research.google.com/github/dev2081/Dev-Singh-Khadayat/blob/main/scrapping_on_worldometer_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install beautifulsoup4 requests pandas lxml

from bs4 import BeautifulSoup
import requests
import pandas as pd


url = 'https://www.worldometers.info/coronavirus/'


response = requests.get(url)

# Create the BeautifulSoup object to parse the HTML content
soup = BeautifulSoup(response.text, 'html.parser')


covid_dict = {}
for div in soup.find_all("div", id="maincounter-wrap"):
    content_div = div.find("div", {"class": "maincounter-number"})
    if content_div:
        covid_dict[div.find("h1").text.replace(":", "").strip()] = content_div.find("span").text.strip()

                                    # 2. Extract table data
table = soup.find('table', id="main_table_countries_today")
table_head = [th.text.replace("\n", "").replace("\xa0", "") for th in table.find('thead').find_all('th')]
table_rows = []

for row in table.find('tbody').find_all('tr'):
    tds = [td.text.replace("\n", "").replace("\xa0", "").strip() for td in row.find_all('td')]
    if tds:
        table_rows.append(tds)

                                    # 3. Create Pandas DataFrame
df = pd.DataFrame(table_rows, columns=table_head)
total_cases = covid_dict['Coronavirus Cases']
total_deaths = covid_dict['Deaths']
total_recovered = covid_dict['Recovered']

print("Total Cases:", total_cases)
print("Total Deaths:", total_deaths)
print("Total Recovered:", total_recovered)
print("Table Data:\n", df)
usa_data = df[df['Country,Other'] == 'USA']

print("USA Data:\n", usa_data)

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (4.12.3)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: lxml in /usr/local/lib/python3.11/dist-packages (5.3.0)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2024.12.14)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Total Cases: 704,753,890
Total Deaths: 7,010,681
Total Recovered: 675,619,811
Table Data:
        #   Country,Other   TotalCases NewCases TotalDeaths NewDeaths  \
0          North America  131,889,132            1,695,941
1                   Asia  221,500,265            1,553,662
2                 Europe  253,406,198            2,101,824
3          South America   70,200,879            1,367,332
4                Oceania   14,895,771               33,015
..   ...             ...          ...      ...         ...       ...
234  227         Tokelau           80
235  228    Vatican City           29
236  229  Western Sahara           10                    1
237  230      MS Zaandam            9                    2
238  231           China      503,302                5,272

    TotalRecovered NewRecovered ActiveCases Serious,Critical  ...  \
0      127,665,129         +350   2,528,062            6,095  ...
1      205,673,091               14,273,512           14,733  ...
2      248,754,104         +474   2,550,270            4,453  ...
3       66,683,585                2,149,962            8,953  ...
4       14,752,388                  110,368               31  ...
..             ...          ...         ...              ...  ...
234                                      80                   ...
235             29                        0                   ...
236              9                        0                   ...
237              7                        0                   ...
238        379,053                  118,977              N/A  ...

      TotalTests Tests/1M pop     Population          Continent  \
0                                                 North America
1                                                          Asia
2                                                        Europe
3                                                 South America
4                                             Australia/Oceania
..           ...          ...            ...                ...
234                                    1,378  Australia/Oceania
235                                      799             Europe
236                                  626,161             Africa
237
238  160,000,000      110,461  1,448,471,400               Asia

    1 Caseevery X ppl 1 Deathevery X ppl 1 Testevery X ppl New Cases/1M pop  \
0
1
2
3
4
..                ...                ...               ...              ...
234                17
235                28
236            62,616            626,161
237
238             2,878            274,748                 9

    New Deaths/1M pop Active Cases/1M pop
0
1
2
3
4
..                ...                 ...
234                                58,055
235
236
237
238                                    82

[239 rows x 22 columns]
USA Data:
    # Country,Other   TotalCases NewCases TotalDeaths NewDeaths TotalRecovered  \
8  1           USA  111,820,082            1,219,487              109,814,428

  NewRecovered ActiveCases Serious,Critical  ...     TotalTests Tests/1M pop  \
8                  786,167              940  ...  1,186,851,502    3,544,901

    Population      Continent 1 Caseevery X ppl 1 Deathevery X ppl  \
8  334,805,269  North America                 3                275

  1 Testevery X ppl New Cases/1M pop New Deaths/1M pop Active Cases/1M pop
8                 0                                                  2,348

[1 rows x 22 columns]

In [ ]:
df

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,North America,"131,889,132",,"1,695,941",,"127,665,129",+350,"2,528,062","6,095",...,,,,North America,,,,,,
1,,Asia,"221,500,265",,"1,553,662",,"205,673,091",,"14,273,512","14,733",...,,,,Asia,,,,,,
2,,Europe,"253,406,198",,"2,101,824",,"248,754,104",+474,"2,550,270","4,453",...,,,,Europe,,,,,,
3,,South America,"70,200,879",,"1,367,332",,"66,683,585",,"2,149,962","8,953",...,,,,South America,,,,,,
4,,Oceania,"14,895,771",,"33,015",,"14,752,388",,"110,368",31,...,,,,Australia/Oceania,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,227,Tokelau,80,,,,,,80,,...,,,"1,378",Australia/Oceania,17,,,,,"58,055"
235,228,Vatican City,29,,,,29,,0,,...,,,799,Europe,28,,,,,
236,229,Western Sahara,10,,1,,9,,0,,...,,,"626,161",Africa,"62,616","626,161",,,,
237,230,MS Zaandam,9,,2,,7,,0,,...,,,,,,,,,,
238,231,China,"503,302",,"5,272",,"379,053",,"118,977",N/A,...,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9,,,82

In [ ]:
df = df.drop('NewCases', axis=1)

In [ ]:
df

,#,"Country,Other",TotalCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,North America,"131,889,132","1,695,941",,"127,665,129",+350,"2,528,062","6,095",,...,,,,North America,,,,,,
1,,Asia,"221,500,265","1,553,662",,"205,673,091",,"14,273,512","14,733",,...,,,,Asia,,,,,,
2,,Europe,"253,406,198","2,101,824",,"248,754,104",+474,"2,550,270","4,453",,...,,,,Europe,,,,,,
3,,South America,"70,200,879","1,367,332",,"66,683,585",,"2,149,962","8,953",,...,,,,South America,,,,,,
4,,Oceania,"14,895,771","33,015",,"14,752,388",,"110,368",31,,...,,,,Australia/Oceania,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,227,Tokelau,80,,,,,80,,"58,055",...,,,"1,378",Australia/Oceania,17,,,,,"58,055"
235,228,Vatican City,29,,,29,,0,,"36,295",...,,,799,Europe,28,,,,,
236,229,Western Sahara,10,1,,9,,0,,16,...,,,"626,161",Africa,"62,616","626,161",,,,
237,230,MS Zaandam,9,2,,7,,0,,,...,,,,,,,,,,
238,231,China,"503,302","5,272",,"379,053",,"118,977",N/A,347,...,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9,,,82

In [ ]:
df = df.drop('NewDeaths', axis=1)

In [ ]:
df

,#,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,North America,"131,889,132","1,695,941","127,665,129",+350,"2,528,062","6,095",,,,,,North America,,,,,,
1,,Asia,"221,500,265","1,553,662","205,673,091",,"14,273,512","14,733",,,,,,Asia,,,,,,
2,,Europe,"253,406,198","2,101,824","248,754,104",+474,"2,550,270","4,453",,,,,,Europe,,,,,,
3,,South America,"70,200,879","1,367,332","66,683,585",,"2,149,962","8,953",,,,,,South America,,,,,,
4,,Oceania,"14,895,771","33,015","14,752,388",,"110,368",31,,,,,,Australia/Oceania,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,227,Tokelau,80,,,,80,,"58,055",,,,"1,378",Australia/Oceania,17,,,,,"58,055"
235,228,Vatican City,29,,29,,0,,"36,295",,,,799,Europe,28,,,,,
236,229,Western Sahara,10,1,9,,0,,16,2,,,"626,161",Africa,"62,616","626,161",,,,
237,230,MS Zaandam,9,2,7,,0,,,,,,,,,,,,,
238,231,China,"503,302","5,272","379,053",,"118,977",N/A,347,4,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9,,,82

In [ ]:
df = df.drop('New Cases/1M pop', axis=1)

In [ ]:
df

,#,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Deaths/1M pop,Active Cases/1M pop
0,,North America,"131,889,132","1,695,941","127,665,129",+350,"2,528,062","6,095",,,,,,North America,,,,,
1,,Asia,"221,500,265","1,553,662","205,673,091",,"14,273,512","14,733",,,,,,Asia,,,,,
2,,Europe,"253,406,198","2,101,824","248,754,104",+474,"2,550,270","4,453",,,,,,Europe,,,,,
3,,South America,"70,200,879","1,367,332","66,683,585",,"2,149,962","8,953",,,,,,South America,,,,,
4,,Oceania,"14,895,771","33,015","14,752,388",,"110,368",31,,,,,,Australia/Oceania,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,227,Tokelau,80,,,,80,,"58,055",,,,"1,378",Australia/Oceania,17,,,,"58,055"
235,228,Vatican City,29,,29,,0,,"36,295",,,,799,Europe,28,,,,
236,229,Western Sahara,10,1,9,,0,,16,2,,,"626,161",Africa,"62,616","626,161",,,
237,230,MS Zaandam,9,2,7,,0,,,,,,,,,,,,
238,231,China,"503,302","5,272","379,053",,"118,977",N/A,347,4,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9,,82

In [ ]:
df = df.drop('New Deaths/1M pop', axis=1)

In [ ]:
df

,#,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,Active Cases/1M pop
0,,North America,"131,889,132","1,695,941","127,665,129",+350,"2,528,062","6,095",,,,,,North America,,,,
1,,Asia,"221,500,265","1,553,662","205,673,091",,"14,273,512","14,733",,,,,,Asia,,,,
2,,Europe,"253,406,198","2,101,824","248,754,104",+474,"2,550,270","4,453",,,,,,Europe,,,,
3,,South America,"70,200,879","1,367,332","66,683,585",,"2,149,962","8,953",,,,,,South America,,,,
4,,Oceania,"14,895,771","33,015","14,752,388",,"110,368",31,,,,,,Australia/Oceania,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,227,Tokelau,80,,,,80,,"58,055",,,,"1,378",Australia/Oceania,17,,,"58,055"
235,228,Vatican City,29,,29,,0,,"36,295",,,,799,Europe,28,,,
236,229,Western Sahara,10,1,9,,0,,16,2,,,"626,161",Africa,"62,616","626,161",,
237,230,MS Zaandam,9,2,7,,0,,,,,,,,,,,
238,231,China,"503,302","5,272","379,053",,"118,977",N/A,347,4,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9,82

In [ ]:
for column in ['TotalCases', 'TotalDeaths', 'TotalRecovered']:
    df[column] = df[column].astype(str).str.replace(',', '')
    df[column] = pd.to_numeric(df[column], errors='coerce').fillna(0).astype(int)

In [ ]:
df

,#,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,Active Cases/1M pop
0,,North America,131889132,1695941,127665129,+350,"2,528,062","6,095",,,,,,North America,,,,
1,,Asia,221500265,1553662,205673091,,"14,273,512","14,733",,,,,,Asia,,,,
2,,Europe,253406198,2101824,248754104,+474,"2,550,270","4,453",,,,,,Europe,,,,
3,,South America,70200879,1367332,66683585,,"2,149,962","8,953",,,,,,South America,,,,
4,,Oceania,14895771,33015,14752388,,"110,368",31,,,,,,Australia/Oceania,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,227,Tokelau,80,0,0,,80,,"58,055",,,,"1,378",Australia/Oceania,17,,,"58,055"
235,228,Vatican City,29,0,29,,0,,"36,295",,,,799,Europe,28,,,
236,229,Western Sahara,10,1,9,,0,,16,2,,,"626,161",Africa,"62,616","626,161",,
237,230,MS Zaandam,9,2,7,,0,,,,,,,,,,,
238,231,China,503302,5272,379053,,"118,977",N/A,347,4,"160,000,000","110,461","1,448,471,400",Asia,"2,878","274,748",9,82

In [ ]:

df_sorted = df.sort_values(by=['TotalCases'], ascending=False)
print(df_sorted[['Country,Other', 'TotalCases']].head(10))

    Country,Other  TotalCases
7           World   704753890
2          Europe   253406198
1            Asia   221500265
0   North America   131889132
8             USA   111820082
3   South America    70200879
9           India    45035393
10         France    40138560
11        Germany    38828995
12         Brazil    38743918

In [ ]:
df1 = df.sort_values(by=['TotalCases'], ascending=False).iloc[4:18]
df1

,#,"Country,Other",TotalCases,TotalDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",TotCases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,Active Cases/1M pop
8,1,USA,111820082,1219487,109814428,,"786,167",940,"333,985","3,642","1,186,851,502","3,544,901","334,805,269",North America,3,275,0,"2,348"
3,,South America,70200879,1367332,66683585,,"2,149,962","8,953",,,,,,South America,,,,
9,2,India,45035393,533570,0,N/A,N/A,N/A,"32,016",379,"935,879,495","665,334","1,406,631,776",Asia,31,"2,636",2,0.4
10,3,France,40138560,167642,39970918,,0,,"612,013","2,556","271,490,188","4,139,547","65,584,518",Europe,2,391,0,
11,4,Germany,38828995,183027,38240600,,"405,368",N/A,"462,891","2,182","122,332,384","1,458,359","83,883,596",Europe,2,458,1,"4,833"
12,5,Brazil,38743918,711380,36249161,,"1,783,377",N/A,"179,908","3,303","63,776,166","296,146","215,353,593",South America,6,303,3,"8,281"
13,6,S. Korea,34571873,35934,34535939,,0,,"673,523",700,"15,804,065","307,892","51,329,899",Asia,1,"1,428",3,
14,7,Japan,33803572,74694,0,N/A,N/A,N/A,"269,169",595,"100,414,883","799,578","125,584,838",Asia,4,"1,681",1,"95,582"
15,8,Italy,26723249,196487,26361218,,"165,544",22,"443,445","3,261","281,126,449","4,665,010","60,262,770",Europe,2,307,0,"2,747"
16,9,UK,24910387,232112,24678275,,0,N/A,"363,666","3,389","522,526,476","7,628,357","68,497,907",Europe,3,295,0,
17,10,Russia,24124215,402756,23545818,,"175,641",N/A,"165,454","2,762","273,400,000","1,875,095","145,805,947",Europe,6,362,1,"1,205"
18,11,Turkey,17232066,102174,0,N/A,N/A,N/A,"201,399","1,194","162,743,369","1,902,052","85,561,976",Asia,5,837,1,"4,024"
4,,Oceania,14895771,33015,14752388,,"110,368",31,,,,,,Australia/Oceania,,,,
19,12,Spain,13914811,121760,13762417,,"30,634",231,"297,840","2,606","471,036,328","10,082,298","46,719,142",Europe,3,384,0,656

In [ ]:
import plotly.express as px
fig = px.bar(df1, x='Country,Other', y='TotalCases')
fig.show()